<div class="col-6">
  <h4 class="w-100"><%= @volunteer.title %></h4>
</div>
<div class="col-6">
  <h4><%= @volunteer.location %></h4>
  <h4><%= @volunteer.date %></h4>
  <article><%= @volunteer.summary%></article>
</div>