<%= form_for @organization, html: {class: " col-8 mx-auto"} do |f| %>
  <div class="form-group">
    <%= f.text_field :name, class: "form-control w-75" %>
    <%= f.submit "登録", class: "btn btn-primary mt-3 mr-0" %>
  </div>
<% end %>