<header class="w-100">
  <ul class="list-unstyled float-right">
    <li><%= link_to "登録", new_organization_path, class: "float-right" %></li>
    <li><%= link_to "登録団体一覧", organizations_path, class: "float-right" %></li>
  </ul>
</header>